body {
	background-color: rgba(20, 20, 20, 255);
	color: white;
	margin: 0px;
	padding: 0px;
}

a {
	color: white;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

#content {
	min-height: 800px;
}

#topBar {
	position: relative;
}

#logo {
	position: relative;
	display: inline-block;

	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin: 15px 30px;

	-webkit-user-select: none;       
	-moz-user-select: none;
 	-ms-user-select: none;
}

#navbar {
	display: inline-block;
	position: absolute;
	right: 0px;
	height: 100%;

	font-family: 'Pacifico', cursive;
}

.navbarItem {
	position: relative;
	display: inline-block;
	height: 100%;

	box-sizing: border-box;
	padding: 20px;
	margin: 10px 40px 10px 0px;
	font-size: 25px;

	-webkit-user-select: none;       
	-moz-user-select: none;
 	-ms-user-select: none;
}

.navbarItem a:hover {
	color: #cc6060;
}