<section class="addHorseForm" ng-controller="AdminHorseController as horses">
	<form ng-submit="horses.create()">
		<span class="formItem" >Show Name</span> <br>
		<input type="text" class="nameInputBox" ng-model="horses.showName"/> <br>

		<span class="formItem" >Birth Date</span> <br>
		<input type="text" class="nameInputBox" ng-model="horses.birthDate"/> <br>

		<span class="formItem" >Sex</span> <br>
		<label class="formItem">
			<input type="radio" value="male" ng-model="horses.sex" checked/>
			Male
		</label>
		<label>
			<input type="radio" value="female" ng-model="horses.sex"/>
			Female
		</label class="formItem"> <br>
		<label class="formItem">
			<input type="checkbox" ng-model="horses.gelded"/> Gelded
		</label> <br>

		<span class="formItem">Description</span> <br>
		<textarea class="descriptionInputBox" ng-model="horses.description"></textarea> <br>

		<span class="formItem">Horse Pictures</span> <br>
		<div class="formItem"> 
			<input type="file" multiple id="imageInput" class="nameInputBox" accept="image/*" />
			<input type="button" value="Upload Images" ng-click="horses.addDataURLs()" /> <br>
			<span class="imageMessage" ng-bind="horses.imageMessage"></span> <br>
			<span class="formError" ng-bind="horses.imageError"></span> <br>
		</div>

		<input type="submit" value="Save Horse" class="formItem" /> <br> 

		<div class="formError" ng-show="horses.error">
			<strong ng-bind="horses.error"></strong>
		</div>
	</form>
	<div class="adminMenuItem"><a href="/admin/horses">Back to Menu</a></div>
</section>