@import url("add_horse.css");
@import url("edit_horses.css");
@import url("edit_horse.css");

.adminHorseMenu {
	font-family: serif;
	margin: auto;
	width: 300px;
}

.adminMenuItem {
	background-color: rgb(100, 100, 255);
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 10px auto;
	text-align: center;
	width: 200px;
}