.editHorseForm {
	font-family: serif;
	margin: auto;
	width: 300px;
}

.horseEntry {
	background-color: white;
	color: black;
	list-style: none;
	margin: 5px 0;
	width: 100%;
}

.horseEntry a {
	color: black;
	margin: 5px;
}
