#imageContainer {
    background-image: url("/home/media/facebook_horse.jpg");
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include breakpoint(small down) {
        height: 500px;
    }
}

#welcomeTextContainer {
    line-height: 1;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#welcomeText {
    letter-spacing: 2px;
    font-family: $site-elegant;
    font-size: 70px;
    margin: 0 30px;
    text-shadow: 1px 1px 10px #404040;

    @include breakpoint(small down) {
        font-size: 50px;
    }
}

.browse-button {
    border: 1x solid lighten($primary-color, 10);
    font-family: $site-elegant;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 20px auto;
}
