#imageContainer {
    background-image: url("/home/media/facebook_horse.jpg");
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include breakpoint(small down) {
        height: 500px;
    }
}

#welcomeTextContainer {
    line-height: 1;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#welcomeText {
    letter-spacing: 2px;
    font-family: $site-elegant;
    font-size: 70px;
    margin: 0 30px;
    text-shadow: 1px 1px 10px #404040;

    @include breakpoint(small down) {
        font-size: 50px;
    }
}

#seePoniesText {
    background-color: $primary-color;
    box-shadow: 0px 3px 25px -3px rgba(0,0,0,0.75);
    font-family: $site-elegant;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    max-width: 300px;

    &:hover {
        filter: brightness(90%);
    }
}
