.editHorseForm {
	font-family: serif;
	margin: auto;
	width: 300px;
}

.horseTableEntry {
	background-color: white;
	color: rgb(100, 100, 255);
	font-family: 'Source Sans Pro';
	list-style: none;
	margin: 5px 0;
	width: 100%;
}

.horseTableEntry a {
	color: black;
	margin: 5px;
}

.editButton {
	background-color: transparent;
	border: none;
	color: rgb(100, 100, 255);
	cursor: pointer;
	padding: 0;
	margin: 5px 0px 5px 5px;
}
