<section ng-controller="HorsesController as horses" ng-init="horses.find()">
<div class="controlsContainer">
	<label for="radio_all" class="filter">
		<input name="horse_type" id="radio_all" type="radio" value="all" checked />
		<div class="pressButton">ALL</div>
	</label>
	<label for="radio_young_stock" class="filter">
		<input name="horse_type" id="radio_young_stock" type="radio" value="young_stock" />
		<div class="pressButton">YOUNG STOCK</div>
	</label>
	<label for="radio_stallions" class="filter">
		<input name="horse_type" id="radio_stallions" type="radio" value="stallions" />
		<div class="pressButton">STALLIONS</div>
	</label>
	<label for="radio_mares" class="filter">
		<input name="horse_type" id="radio_mares" type="radio" value="mares" />
		<div class="pressButton">MARES</div>
	</label>
	<label for="radio_geldings" class="filter">
		<input name="horse_type" id="radio_geldings" type="radio" value="geldings"/>
		<div class="pressButton">GELDINGS</div>
	</label>
	<label for="radio_for_sale" class="filter">
		<input name="horse_type" id="radio_for_sale" type="radio" value="for_sale"/>
		<div class="pressButton">FOR SALE</div>
	</label>
</div>
<div class="horsesListContainer">
	<a class="horseEntry" href="/horses/{{horse.showName}}" ng-repeat="horse in horses.list">
			<div class="horseImageWrapper">
				<img class="horseImage" ng-src="/images/{{horse.showName}}/{{horse.images[0]}}" />
			</div>
	</a>
</div>
</section>