body {
	background-color: $site-background;
	color: $site-primary-text;
	margin: 0px;
	padding: 0px;
}

a {
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

#topBar {
	position: relative;
}

#logo {
	display: inline-block;
	font-family: $site-show-font;
	font-size: 40px;
	margin: 15px 30px;
	position: relative;
	user-select: none;
}

#navbar {
	display: inline-block;
	font-family: $site-show-font;
	height: 100%;
	position: absolute;
	right: 0px;
}

.navbarItem {
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	font-size: 25px;
	margin: 10px 40px 10px 0px;
	padding: 20px;
	position: relative;
	user-select: none;

	a:hover {
		color: $site-primary;
	}
}

#footer {
	background: $site-background; 
	height: 80px;
	text-align: center;
	width: 100%;
}

.footerItem {
	display: inline-block;
	font-family: $site-show-font;
	font-size: 18px;
	margin: 20px;
	user-select: none;
}

.footerItem a:hover {
	color: $site-primary;
}