body {
    background: url("../assets/resources/stressed_linen.png") repeat;
    color: $primary-color;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: $site-show-font;
    font-size: 40px;
    margin: 15px;
    user-select: none;
}

.header {
    background: url("../assets/resources/stressed_linen.png") repeat;
    a {
        &:hover {
            color: $primary-color;
        }
        &:focus {
            color: inherit;
            &:hover {
            color: $primary-color;
            }
        }
    }

    .navItem {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        font-family: $site-show-font;
        font-size: 25px;
        margin-right: 20px;
        padding: 20px;
        position: relative;
        user-select: none;
    }

    .top-bar-right {
        background: inherit;
    }
}

.footer {
    padding: 2rem 4rem;
    text-align: center;
    width: 100%;

    h4 {
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 1rem;
        margin-top: 2.5rem;
        text-transform: uppercase;
    }

    .footer-links {
        list-style-type: none;
        li {
            margin-top: .5em;
        }
    }

    p, a {
        font-size: .8em;
        font-weight: 300;
    }
}




@media only screen and (min-width: 40.063em) {
.footer {
    .columns:nth-child(n+2) {
        border-left: 1px solid scale-color($white, $lightness: -30%);
        min-height: 280px;
        }
    }
}
