html {
    height: 100%;
}

body {
    background: url("../assets/resources/stressed_linen.png") repeat;
    color: $primary-color;
    margin: 0;
    height: 100%;
    padding: 0;
}

.off-canvas-content {
    height: 100%;
}
.page-content-wrapper {
    min-height: 100%;
}

.logo {
    font-family: $site-show-font;
    font-size: 40px;
    margin: 15px;
    user-select: none;

    @include breakpoint(small down) {
        font-size: 30px;
    }
}

.hamburger-menu {
    background: url("../assets/resources/stressed_linen.png") repeat;

    .menu {
        margin-top: 20px;
        text-align: center;

        li {
            font-family: $site-show-font;
            font-size: 1.5rem;
            list-style: none;
            margin: 10px;
        }
    }
}

.header {
    background: url("../assets/resources/stressed_linen.png") repeat;
    @include top-bar-unstack;

    a {
        &:hover {
            color: $primary-color;
        }
        &:focus {
            color: inherit;
            &:hover {
            color: $primary-color;
            }
        }
    }

    .hamburger {
        color: $white;
        cursor: pointer;
        font-size: 2em;
        margin: 15px;
    }

    .navItem {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        font-family: $site-show-font;
        font-size: 25px;
        margin-right: 20px;
        padding: 20px;
        position: relative;
        user-select: none;
    }

    .top-bar-right {
        background: inherit;
    }
}

.page-content {
    padding-bottom: 170px;

    @include breakpoint(small only) {
        padding-bottom: 330px;
    }
}

.footer {
    color: #A0A0A0;
    font-size: 12px;
    margin-top: -170px;
    text-align: center;
    width: 100%;

    @include breakpoint(small only) {
        margin-top: -330px;
    }

    a {
        color: $primary-color;
    }

    a, p {
        font-size: 12px;
        font-weight: 300;
        line-height: 1;
        margin: 5px;
    }

    .contact-info {
        display: inline-block;
        margin: 0 12px;
        text-align: left;
        vertical-align: text-top;
    }

    .copyright {
        color: #505050;
        margin-top: 1em;
    }

    .sub-header {
        text-align: center;
    }

    .footer-links {
        line-height: 1.5;
        list-style-type: none;
    }

    h4 {
        border-color: #252525;
        border-style: solid;
        border-width: 1px 0;
        color: $white;
        font-size: 12px;
        font-weight: 400;
        margin: 10px auto;
        max-width: 250px;
        text-transform: uppercase;
    }

    .social-media {
        border-radius: 50%;
        background-color: #3B5998;
        color: $white;
        cursor: pointer;
        font-size: 40px;
        height: 50px;
        line-height: 1.3;
        text-align: center;
        width: 50px;
    }

    ul {
        margin: 0;
    }
}
