/* Color Palette */

/* Colors */
$coral: #CC6060;

/* Font Families */

$site-sans: 'Work Sans';
$site-sans-title: 'Source Sans Pro';
$site-serif: serif;
$site-elegant: 'Josefin Sans', helvetica;
$site-show-font: 'Pacifico', cursive;