<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<form> 
			<p>
				Username: <br>
				<input type="text" /input> <br>
				Password: <br>
				<input type="password" /input> <br>
			</p>
			<p>
				<input type="submit" onclick="window.alert('Submit button clicked.')" /input>
			</p>
		</form>
	</body>
</html>