<!DOCTYPE html>
<html>
    <head>
        <title>Faylin Welsh Admin Panel</title>
        <base href="/"></base>

        <!-- some cool fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Source+Sans+Pro|Work+Sans" />

        <link rel="stylesheet" href="vendor.css" />
        <link rel="stylesheet" href="all.css" />
    </head>
    <body>
        <div id="topBar">
            <div id="logo"><a href="/home">Faylin Welsh</a></div>
            <div id="navbar">
                <div class="navbarItem"><a href="/login">Admin Panel</a></div>
            </div>
        </div>
        <section id="content" ng-view></section>

        <script type="text/javascript" src="vendor.js"></script>
        <script type="text/javascript" src="admin.js"></script>
    </body>
</html>
