<!DOCTYPE html>
<html>
	<head>
		<title>Faylin Welsh</title>
		<base href="/"></base>

		<!-- some cool fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Source+Sans+Pro|Work+Sans" />

		<!-- Font Awesome -->
		<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />

		<!-- bootstrap -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />

		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="home/css/home.css" />
		<link rel="stylesheet" href="horses/css/horses.css" />
		<link rel="stylesheet" href="about/css/about.css" />
	</head>
	<body>
		<div id="topBar">
			<div id="logo"><a href="/home">Faylin Welsh</a></div>
			<div id="navbar">
				<div class="navbarItem"><a href="/contact">Blog</a></div>
				<div class="navbarItem"><a href="/horses">Horses</a></div>
				<div class="navbarItem"><a href="/about">About</a></div>
			</div>
		</div>
		<section id="content" ng-view></section>

		<div id="footer">
			<div class="footerItem"><a href="/home">Home</a></div>
			<div class="footerItem"><a href="/contact">Blog</a></div>
			<div class="footerItem"><a href="/horses">Horses</a></div>
			<div class="footerItem"><a href="/about">About</a></div>
		</div>

		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

		<script type="text/javascript" src="/shared_services/shared_services.client.module.js"></script>
		<script type="text/javascript" src="/shared_services/horses.client.service.js"></script>

		<script type="text/javascript" src="/home/home.client.module.js"></script>
		<script type="text/javascript" src="/home/controllers/home.client.controller.js"></script>
		<script type="text/javascript" src="/home/config/home.client.routes.js"></script>

		<script type="text/javascript" src="/horses/horses.client.module.js"></script>
		<script type="text/javascript" src="/horses/controllers/horses.client.controller.js"></script>
		<script type="text/javascript" src="/horses/config/horses.client.routes.js"></script>

		<script type="text/javascript" src="/about/about.client.module.js"></script>
		<script type="text/javascript" src="/about/config/about.client.routes.js"></script>

		<script type="text/javascript" src="/app.js"></script>
	</body>
</html>